div {
    height: 200px;
    width: 100%;
    position: absolute;
}
#white {
    height: 600px;
    width: 900px;
    position: relative;
    border: 5px solid black;
}

#saffron {
    background-color: #d16c47;
}

#green {
    background-color: #155636;
    top: 400px;
}

.circle {
    border-radius: 50%;
}
#chakra {
    background-color: #2c2c6d;
    width: 200px;
    top: 200px;
    left: 350px;
}

#chakra div {
    background-color: white;
    height: 85%;
    width: 85%;
    top: 7.5%;
    left: 7.5%;
}

